label.primary-title {
  font-size: 11pt;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 10px;
}

label.secondary-title {
  font-size: 10pt;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

label.secondary-text {
  font-size: 10pt;
  color: @insensitive_fg_color;
  padding-top: 3px;
  padding-bottom: 3px;
}

.pref-row {
  border-bottom: solid 1px @theme_bg_color;
}

