label.primary-title {
  font-size: 11pt;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 10px;
}

label.secondary-title {
  font-size: 10pt;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

label.secondary-text {
  font-size: 10pt;
  color: @insensitive_fg_color;
  padding-top: 3px;
  padding-bottom: 3px;
}

list.pane {
  background-color: transparent;
}

label.pane-title {
  font-weight: bold;
  color: #808080;
  margin-left: 0.5em;
}


label.row-title {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0.5em;
}

label.row-amount {
	font-size: 12px;
	font-weight: bold;
	margin-left: 0.5em;
}

checkbutton.row-check {
  margin: 1em;
}

.preferences list > row {
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 1em;
}

.preferences list > row:first-child {
  border-top: 1px solid #CCC;
  border-bottom: 0.5px solid @theme_bg_color;
}

.preferences list > row:last-child {
  border-top: 0.5px solid @theme_bg_color;
  border-bottom: 1px solid #CCC;
}

.preferences list > row:only-child {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.preferences list > row:not(:last-child) {
  border-bottom: 0.5px solid #C1C1C1;
}

